body{
    position: relative;
 height: 200px;
  background-color: rgb(240 210 245); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, rgb(250 220 220),rgb(250 225 210));
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;}
.left{
    font-family: 'Courier New', Courier, monospace;
text-decoration: none;
    float: left;
}
.left a{
    padding: 0px 5px ;
    
}
.right{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    
}
.right a{
      text-decoration: none;

    border:solid black 2px ;
    border-radius: 25px;
    display: inline-block;
    padding: 0px 5px;
}
.title{
    font-style: initial;
    font-weight: bolder;
    font-size: larger;
    position: absolute;
    top: 30px;
    left: 350px;
}
.try{position: absolute;
    top: 70px;
    left: 350px;}
.leftButton{
    color: rgb(168, 132, 201);
    background-color:rgb(211, 204, 204);
    border-radius: 25px;

    position: absolute;
    top: 70px;
    left: 800px;

}
.rightleftButton{
     color: rgb(22, 3, 41);
    background-color:white;
    border-radius: 25px;

    position: absolute;
    top: 70px;
    left: 900px;
}
.barImages{
    display: inline-block;
    height: 50px;
    width: 20px;
}

.row {
position: absolute;
  display: flex;
  top:100px ;
  left: 50px;
}

.column {
    border: 1px solid black;
    border-radius:25px ;
  flex: 33.33%;
  padding: 10px;
}