body {
  position: relative;
}
header {
  text-decoration: none;
  text-align: center;
  position: fixed;
  width: 100vw;
}
.right {
  text-decoration: none;
  border: 2px solid black;
  background-color: azure;
  float: right;
  display: inline-block;
  border-radius: 5px;
}
.login {
  display: inline-block;
}
.center {
  text-decoration: none;
  display: inline-block;
}
.center a {
  text-decoration: none;
  padding: 0px 8px;
}
.left {
  text-decoration: none;
  float: left;
  display: inline-block;
}

.centerPAge {
  text-decoration: none;
  text-align: center;
  display: inline;
  position: absolute;
  top: 430px;
  left: 60%;
}
.inputBar {
  position: absolute;

  padding: 10px 3px;
  text-align: left;
  border-radius: 5px;
  width: 550px;
  height: 100px;
  border: 2px solid black;
}
input[type="text"] {
  display: inline;

  border: none;
}
#ask {
  text-align: left;
  display: inline-block;
  padding: px 10px;
}
.inputBar a {
  text-decoration: none;
  display: inline;
  border-radius: 25px;
  text-align: left;
  padding: 20px 10px;
}
.p {
  font-size: 10px;
}
